<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
	{% if meta.description %}
		<meta name="description" content="{{ meta.description|striptags }}">
	{% endif %}{% if meta.robots %}
		<meta name="robots" content="{{ meta.robots }}">
	{% endif %}
	<link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />	
	<link rel="shortcut icon" href="{{ theme_url }}/favicon.ico" type="image/x-icon" />
</head>
<body>

<header>
	<img src="{{ theme_url }}/avatar.png" alt="{{ site_title }}">
	<h3><a href="{{ "index"|link }}">{{ site_title }}</a></h3>
	{% if config['site_strapline'] is defined %}<h2>{{ site_strapline }}</h2>{% endif %}
</header>

<nav>
	{% spaceless %}
	{% for page in pages if page.title %}
	<a{% if page.id == current_page.id %} class="active"{% endif %} href="{{ page.url }}">{{ page.title }}</a>
	{% endfor %}
	{% endspaceless %}
</nav>

<article>
    {{ content }}
</article>

<footer>
	Published using <a href="http://picocms.org/">Pico</a>.<br />
	Anatole theme by <a href="https://github.com/hi-caicai/farbox-theme-Anatole">CaiCai</a>, ported by <a href="https://github.com/breadcat/anatole-pico-theme">Breadcat</a>.
</footer>

</body>
</html>
